<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


<style>
.labelName{

    display: flex;

    justify-content:  center;
   width: 300px;
   height: 40px;
   background-color: rgb(192, 219, 210);
   border-radius: 10px;
   font-size:xx-large;

}


.name{


display: flex;

justify-content:  center;
width: 500px;
height: 40px;
background-color: rgb(5, 5, 5);
border-radius: 10px;
font-size: medium;

color: whitesmoke;
margin-left: 2%;




}

.Namediv{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 1%;
    flex-shrink: 2;
    justify-content: center;
}




</style>
</head>


<body>
    <h1> This is the Student make page</h1>


    <form action="/student" method="post">

        <div class="Namediv"> 
        <label for="name" class="labelName"> Name: </label>
        <input name="name" id="name" type="text"  class="name">
    </div>

    <div class="Namediv">

        <label for="userName" class="labelName"> userName: </label>
        <input name="userName" id="userName" type="text" class="name">

    </div>

    <div class="Namediv">
        <label for="collage" id="collageName" class="labelName" > Collage</label>
        <select   name="collage" id="collage" class="name">
            <option value="null"></option>
            <% allCollages.forEach( (obj)=> { %>

                <option value="<%= obj.id %>"> <%= obj.name %></option>
           
                    <% }) %>
        </select>
        </div>
        <div class="Namediv">

        <label for="doctor" class="labelName" > doctor: </label>
        <select multiple name="doctor" id="doctor"  class="name"> 
           
        </select>

        </div>

       
        <% allUsers.forEach( (obj) => { if (id == obj.username) { %>
        <input name="user" id="user" type="text" value= <%= obj.id %> hidden >
            <% } }) %>


            <div class="Namediv">
        <label for="course" class="labelName"> Choose your courses: </label>
        <select name="course" id="course" multiple class="name"> 
            
        </select>
            </div>

            <div class="Namediv">
        <button class="labelName" > Submit</button>

        </div>

    </form>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <script>
        console.log("I'm right here ")
        const optionCollege = document.querySelector("#collage")
        const optionInstructor = document.querySelector("#doctor")
        const optionCourse = document.querySelector("#course")
        let InstructorArray = []
        let isAppear = false

        optionCollege.addEventListener("change",async(event)=>{

            try{
            optionInstructor.childNodes.forEach((event)=>{
                
                optionInstructor.removeChild(event);
            })
        } catch(error) {
            console.log("Their is an error in removing " , error)
        }


        try{
            optionCourse.childNodes.forEach((event)=>{
                    console.log(event)
                    optionCourse.removeChild(event);
            })
        } catch(error) {
            console.log("Their is an error in removing " , error)
        }


            try{
                const returnedValue = await axios.get("/student/find/college/" + event.target.value)
                const returnedValue2 = await axios.get("/student/find/Instructor/" + event.target.value)
                const returnedValue3 =  await axios.get("/student/find/Student/" + event.target.value)
            console.log("this is the returnedValue = ", returnedValue)
            console.log("this is the returnedValue2 = ", returnedValue2)
         console.log(returnedValue.data)
                
        


                

                returnedValue2.data.forEach((obj) => {
                 //   if(isAppear == true ){
                      const Instructorr =  document.createElement("option");
                      Instructorr.value = obj._id
                      Instructorr.textContent = obj.name
                           optionInstructor.appendChild(Instructorr)
                        
                        console.log("This is the isAppear in the false condition = ", isAppear)
             
                 
                })


                returnedValue.data.forEach((obj) => {
                 //   if(isAppear == true ){
                      const Instructorr =  document.createElement("option");
                      Instructorr.value = obj._id
                      Instructorr.textContent = obj.name
                           optionCourse.appendChild(Instructorr)
           
                 
                })


                
           
          //    isAppear = !isAppear
                console.log(" This is the is appear  = " , isAppear);
            }catch(error) {
                console.log("Their is an error in ajax " , error)
            }
           
        })


        const StudentSelect = document.querySelector("#course")


    </script>



</body>
</html>

